.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis text {
    display: none;
}

.barRect {
    fill-opacity: 0.5;
    stroke: #000;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.x.axis path {
    display: none;
}