<component name="ArtifactManager">
  <artifact type="war" name="Spring-Backend:war">
    <output-path>$PROJECT_DIR$/Spring-Backend/target</output-path>
    <root id="archive" name="i-twec-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="Spring-Backend:war exploded" />
    </root>
  </artifact>
</component>